/* body {
    width: 120%;
    color: #222;
    font-family: sans-serif;
    box-sizing: border-box;
}

p {
    width: 120%;
    color: #ccc;
}

body > div > p {
    background-color: #000;
    padding: 20px;
}

h2 {
    color: #fff;
}

.contenedor-1 {
    padding: 30px;
    margin-top: 20px;
    background: red;
}

.contenedor-2 {
    padding: 30px;
    margin-top: 20px;
    background: blue;
}

.contenedor-3 {
    padding: 30px;
    margin-top: 20px;
    background: red;
}

.contenedor-4 {
    padding: 30px;
    margin-top: 20px;
    background: blue;
}

.contenedor-5 {
    padding: 30px;
    margin-top: 20px;
    background: red;
}

.contenedor-6 {
    padding: 30px;
    margin-top: 20px;
    background: blue;
}

.contenedor-7 {
    padding: 30px;
    margin-top: 20px;
    background: red;
}

.contenedor-8 {
    padding: 30px;
    margin-top: 20px;
    background: blue;
}

.contenedor-9 {
    padding: 30px;
    margin-top: 20px;
    background: red;
}

.contenedor-10 {
    padding: 30px;
    margin-top: 20px;
    background: blue;
}

.contenedor-11 {
    padding: 30px;
    margin-top: 20px;
    background: red;
}

.contenedor-12 {
    padding: 30px;
    margin-top: 20px;
    background: blue;
}

.input-prueba {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px;
    color: #444;
    outline: none !important;
}

.input-select {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px;
    color: #444;
    outline: none !important;
}

.seleccionado {
    color: #777;
}

.seleccionado b {
    color: #0A0;
} */

/* body {
    font-family: sans-serif;
    width: 50%;
}

input {
    width: 100%;
    display: block;
    padding: 9px;
    margin: 12px auto;
    box-sizing: border-box;
    border: none;
    border-top: 2px solid #48e;
    background: transparent;
    outline: none !important;
    transition: background 0.3s;
    color: #fff;
}

input::placeholder{
    color: #48e;
    transition: color 0.3s;
}

input:hover {
    background: #26a;
}

input:hover::placeholder {
    color: #fff;
}

input[type="submit"]{
    width: 50%;
    padding: 12px;
    background: #26a;
    color: #fff;
    margin: 24px 0;
    margin-bottom: 12px;
}

input[type="submit"]:hover {
    background: #048;
}

form {
    width: 86%;
    margin: auto;
    background: #013;
    padding: 30px;
}

h2 {
    color: #fff;
    margin-bottom: 36px;
}

.green {
    color: #9c9;
}

.red {
    color: #c99;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,minmax(min-content,max-content));
    grid-auto-rows: 50px;
}

.grid-container .grid-item {
    padding: 10px;
    border: 1px solid #26a;
    margin: 5px;
}

.boton-confirmar {
    padding: 9px 40px;
    background: #48e;
    color: #fff;
    border: none;
    margin: 6px;
    border: 3px solid #ccc;
}

.boton-confirmar:hover {
    background: rgb(55, 130, 243);
} */

/* body {
    color: #333;
    font-family: sans-serif;
}

.formulario-de-notas {
    margin-top: 60px;
    text-align: center;
    background: #26a;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin: 0;
    flex-grow: 1;
    color: #fff;
    margin-right: 20px;
}

input {
    width: 30px;
    border: none;
}

input[type="button"] {
    width: auto;
    margin-left: 5px;
    color: #48e;
    background: #fff;
}

.modal-background {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0;
}

.modal {
    background: #fff;
    width: 500px;
    margin: auto;
    text-align: center;
}

.resultado {
    font-size: 23px;
    margin-bottom: 5px;
}

.red {
    color: #f00;
}

.green {
    color: #0f0;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        display: flex;
    } 
    100% {
        opacity: 1;
        display: flex;
    }
} */

/* body {
    color: #222;
    font-family: sans-serif;
}

.materias {
    width: 90%;
    background: #ccc;
    padding: 2px;
    font-size: 20px;
}

.materia {
    background: #efefef;
    display: flex;
}

.materia div {
    padding: 20px;
}

.materia .nota {
    flex-basis: 20px;
    background: #dddddd;
    font-weight: 700;
}

.materia .nombre {
    flex-grow: 1;
} */

/* #nombre {
    font-size: 50px;
    margin: 20px;
}

.resultado {
    background: #000;
    color: #fff;
    font-size: 40px;
} */

#getInfo {
    font-size: 40px;
    margin: 20px;
}

.resultado {
    background: #efefef;
    padding: 20px;
    font-size: 19px;
}